.AdminHomePage-options {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px 0px;
}

.AdminHomePage-admin-button {
    width: 80%;
    height: 120px;

    margin: 1px 0;
    border: 1px solid #131316;
    border-radius: 1px;

    font-size: 3rem;
    font-weight: bold;

    cursor: pointer;

    transition: all 300ms ease-in-out 200ms;
}

.AdminHomePage-admin-button-1 {
    background-color: #ededed;

    color: #19191b;
}

.AdminHomePage-admin-button-1:hover {
    background-color: #cccccc;
}

.AdminHomePage-admin-button-2 {
    background-color: #2d2d30;

    color: #a4a4a4;
}

.AdminHomePage-admin-button-2:hover {
    background-color: #262629;
}