body {
    background-color: #19191b;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px 0px;
}

.admin-button {
    width: 80%;
    height: 120px;

    margin: 1px 0;

    background-color: #ededed;

    font-size: 3rem;
    font-weight: bold;

    cursor: pointer;

    transition: all 300ms ease-in-out 200ms;
}

.admin-button:hover {
    background-color: #cccccc;
}