.form {
    width: 40%;

    margin: 0 auto;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    padding: 10px;

    background-color: #ffffff;

    text-align: left;
}

.checkout {
    display: inline;

    width: 20%;

    border: 1px solid #e2f1ff;

    background-color: #6969e6;

    text-align: center;
    color: #ffffff;
}

.cancel {
    display: inline;

    width: 20%;

    background-color: #000000;

    text-align: center;
    color: #ffffff;
}