.Checkout-container-wrap {
    margin: 0;
    padding: 4rem;
}

.Checkout-checkout-container {
    width: 40%;

    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 1rem;

    background-color: #ffffff;

    text-align: center;
    color: #000000;
}

.Checkout-ticket-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.Checkout-remove-ticket {
    border-radius: 10px;
    height: 40px;
    margin-top: 10px;
}

.Checkout-payment-info {
    font-weight: bold;
}

.Checkout-payment-info>input {
    width: 30%;
}

.Checkout-checkout-button {
    border-radius: 10px;
    height: 50px;
    width: 30%;
    margin: 3% 10% auto 10%;
    transition: 0.5s;
    font-size: 1.7em;
    font-weight: bold;
}

.Checkout-checkout-button:hover {
    cursor: pointer;
    background-color: gray;
    transition: 0.3s;
}

.Checkout-cancel-button {
    border-radius: 10px;
    height: 50px;
    margin: 3% auto auto auto;
    width: 30%;
    transition: 0.5s;
    font-size: 1.7em;
    font-weight: bold;
}

.Checkout-cancel-button:hover {
    cursor: pointer;
    background-color: gray;
    transition: 0.3s;
}