.checkoutcontainer {
    background-color: gray;
    width: 40%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ticketinfo {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.removeticket {
    border-radius: 10px;
    height: 40px;
    margin-top: 10px;
}

.paymentinfo {
    font-weight: bold;
}

.paymentinfo > input {
    width: 30%;
}

.checkoutbutton {
    border-radius: 10px;
    height: 50px;
    width: 30%;
    margin: 3% 10% auto 10%;
    transition: 0.5s;
    font-size: 1.7em;
    font-weight: bold;
}

.checkoutbutton:hover {
    cursor: pointer;
    background-color: gray;
    transition: 0.3s;
}

.cancelbutton {
    border-radius: 10px;
    height: 50px;
    margin: 3% auto auto auto;
    width: 30%;
    transition: 0.5s;
    font-size: 1.7em;
    font-weight: bold;
}

.cancelbutton:hover {
    cursor: pointer;
    background-color: gray;
    transition: 0.3s;
}