.create-title {
    font-size: 240%;
    position: relative;
    top: 125px;
    right: 40px;
    color: blueviolet;
}

.create-form-container {
    margin: 7% auto 0 auto;
    width: 20%;
    height: 500px;
    border: solid black 2px;
    border-radius: 5px;
    padding-top: 10px;
    background-color: gray;
}

.create-input {
    margin-bottom: 22%;
    border-radius: 5px;
    width: 80%;
    height: 30px;
    font-size: large;
}

.create-submit {
    width: 40%;
    height: 50px;
    border-radius: 10px;
    transition: 0.5s;
}

.create-submit:hover {
    transition: 0.5s;
    background-color: rgb(175, 173, 173);
    cursor: pointer;
}

.create-form > label {
    font-weight: bold;
}
