.CreateAccountPage-create-container {
    overflow: hidden;
    position: relative;
}

.CreateAccountPage-create-title {
    font-size: 240%;
    position: relative;
    text-align: center;
}

.CreateAccountPage-create-form-container {
    width: 30%;
    height: 98.5vh;
    border: solid black 2px;
    border-radius: 5px;
    padding-top: 10px;
    background-color: white;
}

.CreateAccountPage-log-in {
    text-align: center;
}

.CreateAccountPage-log-in-link {
    color: #000000;

    transition: color 300ms ease-in-out 200ms;
}

.CreateAccountPage-log-in-link:hover {
    color: #11114d;
}

.CreateAccountPage-create-input {
    margin-bottom: 6%;
    margin-left: 5%;
    border: none;
    border-bottom: solid black 1px;
    width: 80%;
    height: 30px;
    font-size: large;
}

.CreateAccountPage-create-input:focus {
    outline: none;
}

.CreateAccountPage-create-label {
    margin-left: 4%;
    font-weight: bold;
    font-size: 1.1em;
}

.CreateAccountPage-address-input {
    width: 40%;
    margin-bottom: 2%;
}

.CreateAccountPage-create-name {
    width: 40%;
    margin-bottom: 1%;
}

.CreateAccountPage-card-input {
    width: 30%;
    margin-bottom: 2%;
}

.CreateAccountPage-card-number {
    width: 50%;
}

.CreateAccountPage-create-checkbox {
    margin-left: 5%;
    margin-bottom: 15%;
}

.CreateAccountPage-create-submit {
    width: 40%;
    height: 50px;
    border-radius: 100px;
    transition: 0.5s;
    font-size: 1.3em;
    margin-left: 30%;
    background: linear-gradient(0.25turn, rgb(74, 211, 253) 0%, rgb(100, 249, 100) 30%, rgb(100, 249, 100) 70%, rgb(74, 211, 253) 100%);
}

.CreateAccountPage-create-submit:hover {
    transition: 0.5s;
    cursor: pointer;
    background-position: -112px;
    box-shadow: 5px 5px 2px 1px gray;
}

.CreateAccountPage-create-submit:hover {
    transition: 0.5s;
    background-color: rgb(175, 173, 173);
    cursor: pointer;
}

.CreateAccountPage-return-home {
    text-align: center;
}

.CreateAccountPage-return-home-link {
    color: #000000;

    transition: color 300ms ease-in-out 200ms;
}

.CreateAccountPage-return-home-link:hover {
    color: #11114d;
}