.CustomerHomePage-currently-running-title {
    margin-top: 20px;
    font-weight: bold;
    padding: 10px;
    padding-left: 30px;
    background-color: rgb(31, 30, 30);
    color: white;
    font-size: 2em;
}

.CustomerHomePage-movie-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: gray;
    padding: 10px;
    justify-items: center;
}

.CustomerHomePage-poster {
    width: 150px;
    height: 240px;
    transition: 0.5s;
}

.CustomerHomePage-poster:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
}

.CustomerHomePage-movie-card {
    display: flex;
}

.CustomerHomePage-movie-card>div {
    font-weight: bold;
}

.CustomerHomePage-get-tickets-button {
    border: 1px solid #ffffff;
    border-radius: 3px;

    background-color: #6969e6;

    text-align: center;
    text-wrap: nowrap;
    color: #ffffff;

    cursor: pointer;
}

.CustomerHomePage-get-tickets-button:hover {
    background-color: #5858c9;
}

.CustomerHomePage-trailer {
    width: 400px;
    height: 200px;
    margin-top: 15px;
}