.forgot-page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: aquamarine;
}

.forgot-window {
    background-color: white;
    margin: auto;
    width: 40%;
    margin-top: 10%;
    padding: 1% 3% 3% 3%;
    border: solid black 1px;
    border-radius: 20px;
}

.forgot-form {

}

.forgot-form > label {
    margin-left: 5%;
    font-size: larger;
    font-weight: bold;
}

.forgot-input {
    margin-bottom: 3%;
    margin-left: 5%;
    border: none;
    border-bottom: solid black 1px;
    width: 50%;
    height: 30px;
    font-size: large;
}

.forgot-input:focus {
    outline: none;
}

.forgot-input-locked {
    margin-bottom: 3%;
    margin-left: 5%;
    border: none;
    border-bottom: solid black 1px;
    width: 50%;
    height: 30px;
    font-size: large;
    background-color: rgb(211, 211, 211);
}

.forgot-submit {
    width: 20%;
    height: 30px;
    border-radius: 100px;
    transition: 0.5s;
    font-size: 1em;
    margin-top: 3%;
    margin-left: 5%;
}

.forgot-submit:hover {
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 5px 5px 2px 1px gray;
}