.LoginPage-login-container {
    width: 100%;
    height: 100vh;

    background-color: #000000;

    overflow: hidden;
}

.LoginPage-gradient-1 {
    width: 600px;
    height: 550px;

    position: relative;
    top: 23%;
    left: 52%;

    background: radial-gradient(circle at 50% 50%, #232378ff, #23237800);
    opacity: 0.3;
    filter: blur(60px);
}

.LoginPage-login-form-container {
    width: 30%;
    height: 100vh;

    position: absolute;
    top: 0%;
    left: 0%;

    border-right: 3px solid #0d0d0d;
    border-radius: 5px;

    overflow: hidden;
    color: #424279;

    background-color: #0d0d0d7b;
}

.LoginPage-login-title {
    margin: 0.25rem 0;

    text-align: center;
}

.LoginPage-login-title>h2 {
    font-size: 2rem;
}

.LoginPage-create-account-question {
    margin-bottom: 3rem;

    text-align: center;
}

.LoginPage-link {
    font-weight: bold;
    color: #424279;
}

.LoginPage-link:hover {
    color: #2c2c56;
}

.LoginPage-create-account-link {
    transition: color 300ms ease-in-out 200ms;
}

.LoginPage-create-account-link:hover {
    text-decoration: underline;
}

.LoginPage-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginPage-login-form>input {
    width: 80%;
    height: 2rem;

    margin: 0.75rem 0;
    border: none;
    border-radius: 3px;
    padding-left: 1rem;

    background-color: #161619;

    font-size: 1rem;
    color: #767676;
}

.LoginPage-login-form>input::placeholder {
    color: #767676;
}

.LoginPage-login-form>input:focus {
    outline: none;
}

.LoginPage-login-button {
    width: 36%;
    height: 32px;

    margin: 1rem 0 4rem;
    border: none;
    border-radius: 1.2rem;

    background-color: #5a5a99;

    font-size: 1.2em;
    font-weight: bold;
    color: #000000;

    cursor: pointer;

    transition: all 300ms ease-in-out 200ms;
}

.LoginPage-login-button:hover {
    background-color: #424279;
}

.LoginPage-forgot-password {
    margin: 0.5rem 0;

    text-align: center;
}

.LoginPage-forgot-password-link {
    transition: color 400ms ease-in-out 200ms;
}

.LoginPage-return-home {
    text-align: center;
}

.LoginPage-return-home-link {
    transition: color 300ms ease-in-out 200ms;
}

.LoginPage-return-home-link:hover {
    text-decoration: underline;
}

.LoginPage-image-container {
    position: absolute;
    left: 250px;
    z-index: -1;
}

.LoginPage-image {
    background: radial-gradient(rgb(100, 249, 100), rgb(74, 211, 253) 100%);
    height: 100vh;
    width: 70vw;
    object-fit: cover;
    text-align: center;
}