.ManageMovies-movies-container {
    display: grid;
    grid-template-columns: 1fr;

    width: 43%;

    margin: 0 auto;
    padding: 2rem 20%;
    border-radius: 10px;

    background-color: #2d2d30;

    font-size: 1.7rem;
    color: #a4a4a4;
}

.ManageMovies-movie-segment {
    display: flex;
    justify-content: space-between;

    padding: 10px;
}

.ManageMovies-button {
    margin: 0 0.25rem;
    border: none;
    border-top: 1px solid #616161;
    border-left: 1px solid #616161;
    border-radius: 10px;
    padding: 0.25rem 0.5rem;

    background-color: #19191b;

    font-size: 1.2rem;
    color: #a4a4a4;

    cursor: pointer;

    transition: all 300ms ease-in-out 200ms;
}

.ManageMovies-button:hover {
    background-color: #151518;
}