.movies-container {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;

    margin: 0 auto;
    padding: 2rem 1rem;

    background-color: #2d2d30;

    color: #a4a4a4;
}

.promo-info {
    display: flex;
    justify-content: space-between;

    text-align: left;
}

.vl {
    width: 1px;

    margin: 0 auto;
    border-left: 1px solid #19191b;
    border-right: 1px solid #e2f1ff;
    border-radius: 1px;

    background-color: #19191b;
}

.promo-form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.promo-form>input {
    width: 54%;
    min-height: 1rem;

    border: 1px solid #161619;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-radius: 2px;
    border-top-left-radius: 5px;

    background-color: #19191b;

    color: #a4a4a4;
}

.promo-form>input:focus {
    outline: 1px solid #e2f1ff;

    font-size: 0.8rem;

    --webkit-animation-name: Rotate;
    --webkit-animation-duration: 2s;
    --webkit-animation-iteration-count: infinite;
    --webkit-animation-timing-function: linear;
}

.add-promo-button {
    width: 27%;

    margin-top: 1rem;
    padding: 0.75em;
    border: 2px solid #e2f1ff;
    border-radius: 2em;

    background-color: #6969e6;

    text-align: center;
    color: #e2f1ff;
    font-size: 20px;

    cursor: pointer;

    transition: all 300ms ease-in-out 200ms;
}

.addpromobutton:hover {
    background-color: #5757d4;
}