.Movie-container {
    width: 90%;
    height: 80vh;

    margin: 0 auto;
    margin-top: 1rem;

    background-color: #5400b8;
}

.Movie-get-tickets-button {
    width: 160px;
    height: 3rem;

    border: none;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-radius: 2rem;

    background-color: #ffffff;

    font-size: 1.8rem;
    color: #000000;

    cursor: pointer;

    transition: all ease-in-out 200ms;
}

.Movie-get-tickets-button:hover {
    background-color: #d2d2d2;
}