.Movie-container {
    display: flex;

    width: 90%;
    height: 80vh;

    margin: 0 auto;
    margin-top: 1rem;

    background-color: #5400b8;
}

.Movie-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Movie-movie-poster {
    width: 300px;
    height: 500px;
}

.Movie-get-tickets-button {
    width: 160px;
    height: 3rem;

    border: none;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-radius: 2rem;

    background-color: #ffffff;

    font-size: 1.8rem;
    color: #000000;

    cursor: pointer;

    transition: all ease-in-out 200ms;
}

.Movie-get-tickets-button:hover {
    background-color: #d2d2d2;
}

.Movie-trailer {
    aspect-ratio: 2/1;
    height: 500px;
}