.Movie-container {
    display: flex;
    flex-direction: column;

    width: 100%;

    margin: 0 auto;
    margin-top: 1rem;

    background-color: #000000;

    color: #ffffff;
}

.Movie-trailer {
    display: block;

    width: 100%;
    height: 600px;
}

.Movie-information-container {
    display: flex;
}

.Movie-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;

    border-right: 2px solid #a3a3a3;
}

.Movie-get-tickets-button {
    width: 160px;
    height: 3rem;

    border: none;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-radius: 2rem;

    background-color: #ffffff;

    text-align: center;
    font-size: 1.8rem;
    color: #000000;

    cursor: pointer;

    transition: all 300ms ease-in-out 200ms;
}

.Movie-get-tickets-button:hover {
    background-color: #d2d2d2;
}

.Movie-poster {
    width: 80%;

    margin: 0 auto;
}

.Movie-right {
    display: flex;
    flex-direction: column;

    width: 70%;
}

.Movie-right>p {
    width: 60%;

    margin: 0 auto;

    font-size: 0.8rem;
}

.Movie-people {
    font-size: 0.7rem;
    color: #a3a3a3;

    transition: all 200ms ease-in-out 200ms;
}

.Movie-people:hover {
    font-size: 0.8rem;
    color: #ffffff;
}