.navbar {
    display: flex;
    height: 50px;
    background-color: rgb(105, 105, 230);
    justify-content: space-between;
    padding: 5px 10px;
}

.titlelogo {
    margin-top: 0.5%;
    font-weight: bold;
    font-size: 1.5em;
}

.titlelogo:hover {
    cursor: pointer;
}

.login-button {
    width:100px;
    border-radius: 10px;
    transition: 1s;
    font-size: larger;
}

.login-button:hover {
    background-color: gray;
    transition: 1s;
    cursor: pointer;
}

.right-navbar {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.right-navbar > button{
    height: 100%;
    margin-left: 10%;
    width: 100px;
    border-radius: 20%;
}

.navbar-email {
    margin: auto;
}