.OrderConfirm-confirm-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    height: 30vh;

    margin: 0 auto;
    margin-top: 4rem;
    border: none;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-radius: 12px;
    padding: 2rem 1rem;
    padding-top: 0.5rem;
    box-shadow: 8px 4px 16px #000000;

    background-color: #ffffff;

    text-align: center;
    color: #000009;
}

.OrderConfirm-confirm-window>h3 {
    font-size: 2rem;
}

.OrderConfirm-return-home {
    font-weight: bold;
    color: #000009;

    transition: color 300ms ease-in-out 200ms;
}

.OrderConfirm-return-home:hover {
    color: #10102a;
}