.SearchPage-movie-container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    background-color: gray;
    font-size: 3em;
    font-weight: bold;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
}

.SearchPage-search-poster {
    width: 150px;
    height: 240px;
}

.SearchPage-search-trailer {
    width: 400px;
    height: 200px;
    margin-top: 15px;
}

.SearchPage-book-button {
    border-radius: 10px;
    height: 100px;
    margin: auto 10% auto 10%;
    transition: 0.5s;
}

.SearchPage-book-button:hover {
    transition: 0.5s;
    background-color: rgb(159, 156, 156);
    cursor: pointer;
}

.SearchPage-not-found {
    width: 60%;
    height: 3rem;

    margin: 2.5rem auto;
    padding: 1rem 0;
    border-radius: 20px;

    background-color: #888888;

    text-align: center;
}

.SearchPage-not-found>p {
    margin: 0;

    font-size: 1.4rem;
    font-weight: bold;
}