.SelectShowing-showing-container {
    width: 53%;

    margin: 2rem auto 0;
    padding: 1rem;

    text-align: center;
    color: #ffffff;
}

.SelectShowing-movie-title {
    margin-bottom: 4rem;

    font-weight: normal;
}

.SelectShowing-date-container {
    display: flex;
    flex-direction: column;

    padding: 1rem 0;
    border-top: 1px solid #6969e6;
    border-bottom: 1px solid #6969e6;
}

.SelectShowing-date-button {
    width: 30%;
    height: 2rem;

    margin: 1rem auto;
    border: 1px solid #ffffff;
    border-radius: 7px;

    background-color: #19191b;

    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;

    cursor: pointer;

    transition: all 300ms ease-in-out 100ms;
}

.SelectShowing-date-button:hover {
    background-color: #acacac;
}

.SelectShowing-confirm-button {
    width: 30%;
    height: 2rem;

    margin: 1rem auto;
    border: 1px solid #ffffff;
    border-radius: 7px;

    background-color: #19191b;

    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;

    cursor: pointer;

    transition: all 300ms ease-in-out 100ms;
}

.SelectShowing-confirm-button:hover {
    background-color: #acacac;
}