.profile-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 250px;
    padding: 2%;
    background: linear-gradient(0.25turn, rgb(100, 249, 100),  rgb(74, 211, 253))
}

.profile-info {
    width: 80%;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.email {
    color: rgb(25, 151, 214);
    text-decoration: underline;
}

.edit-profile-container {
    background-color: white;
    height: 90vh;
}

.edit-profile-container > h3 {
    margin: 0 0 0 2%;
    font-size: 1.8em;
}

.edit-div {
    margin-left: 3%;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.edit-div > label {
    width: 150px;
}

.edit-div > input {
    margin-bottom: 2%;
    margin-left: 5%;
    border: solid gray 1px;
    width: 50%;
    height: 30px;
    font-size: large;
}

.edit-div > input:focus {
    outline: none;
}

.password-label {
    margin-bottom: 2%;
    width: 50%;
    height: 30px;
}

.edit-div > button {
    width: 20%;
}

.save-changes-button {
    width: 10%;
    height: 50px;
    font-size: 1.2em;
    border-radius: 100px;
    border: 1px solid black;
    margin-left: 5%;
    margin-top: 3%;
    transition: 0.5s;
    background-color: rgb(100, 249, 100);
}

.save-changes-button:hover {
    transition: 0.5s;
    background-color: rgb(100, 249, 100);
    cursor: pointer;
    box-shadow: 5px 5px 2px 1px gray;
}

.reset-button{
    width: 10%;
    height: 50px;
    font-size: 1.2em;
    border-radius: 100px;
    border: 1px solid black;
    transition: 0.5s;
    background-color: rgb(100, 249, 100);
    margin-bottom: 2%;
    margin-right: 45%;
}

.reset-button:hover {
    transition: 0.5s;
    background-color: rgb(100, 249, 100);
    cursor: pointer;
    box-shadow: 5px 5px 2px 1px gray;
}

.promo-box {
    margin-right: 40%;
}